<div class="row">
  <div class="col-md-12">
    <h3 class="text-info">Song List</h3>
  </div>
</div>

</hr>

<div class="row song">
<% @songs.each do |song| %>
  <div class="col-md-2 col-sm-2">
    <h4>
      <a href="/songs/<%= song.id %>"><%= song.title %></a> 
    </h4>
    <div>
      <small>(by: <%= song.artist %>)</small>
    </div>
  </div>
<% end %>
</div>







